<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangtao.zt.home.web.api.dao.TbContentDao">
    <!--List<TbContent> selectAll();-->
    <select id="selectAll" resultType="com.zhangtao.zt.home.domain.TbContent">
        select *
        from tb_content
    </select>

    <!--TbContent selectTbContentById(Integer id);-->
    <select id="selectTbContentById" resultType="com.zhangtao.zt.home.domain.TbContent">
        select *
        from tb_content
        where id=#{id}
    </select>

</mapper>
